<div *ngFor="let asset of assets" class="asset-view_margin-bottom">
    <app-small-asset-viewer [asset]="asset"></app-small-asset-viewer>
</div>
<div *ngIf="!creating; else creatingMode">
    <button mat-raised-button class="button__width_100" (click)="onCreateAsset()"><mat-icon>add</mat-icon></button>
</div>
<ng-template #creatingMode>
    <mat-card>
        <mat-card-title>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="nameFormControl">
            </mat-form-field>
            <button mat-icon-button color="alert" aria-label="Save name" (click)="onSubmitAsset()"><mat-icon>save</mat-icon></button>
            <button mat-icon-button aria-label="Cancel editing" (click)="onCancelCreation()"><mat-icon>cancel</mat-icon></button>
        </mat-card-title>
    </mat-card>
</ng-template>