<div class="container container_align_center container_flex-direction_column transaction-description_width_stretch">
    <h1>{{ transactionId }}</h1>
    <ng-container *ngIf="transaction; else elseTemplate">
        <div *ngFor="let field of fieldsToView">
            {{ transaction[field.key] }}
            <mat-form-field *ngIf="transaction[field.key]">
                <input readonly matInput [value]="transaction[field.key]" [placeholder]="field.placeholder">
            </mat-form-field>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <p>No transaction available</p>
    </ng-template>
    
</div>
