.mx-4 {
    margin-left: 16px;
    margin-right: 16px;
}

.mr-4 {
    margin-right: 16px;
}

.viewer-window {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.raw-jwt-field {
    display: flex;
    align-items: center;
}

.raw-jwt-field_grow_1 {
    flex-grow: 1;
}