<!-- <mat-slide-toggle
    [(ngModel)]="checked">
    Scanner
</mat-slide-toggle> -->
<!-- <zxing-scanner #scanner
    [enable]="checked"
    (camerasFound)="camerasFoundHandler($event)"
    (camerasNotFound)="camerasNotFoundHandler($event)"
    (scanSuccess)="scanSuccessHandler($event)"
    (scanError)="scanErrorHandler($event)"
    class="scanner-window"
    >
</zxing-scanner> -->
<div class="centering-container mb-40">
    <button class="mx-4" mat-raised-button color="accent" [disabled]="videoDeviceNotFound" (click)="onScan()">Scan</button>
    <button class="mx-4" mat-raised-button color="primary" [disabled]="!selectedDevice" (click)="onScanReset()">Reset</button>
</div>

<mat-form-field *ngIf="availableDevices" class="centering-container">
    <mat-label>Video devices</mat-label>
    <mat-select [(ngModel)]="selectedDevice">
        <mat-option *ngFor="let device of availableDevices" [value]="device">
            {{ device.label }}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="centering-container">
    <video
        [hidden]="scannerHidden"
        id="video"
        class="scanner-window"
    ></video>
</div>
<div class="viewer-window">
    <mat-form-field>
        <textarea matInput placeholder="Payload" readonly [(ngModel)]="payload"></textarea>
    </mat-form-field>
</div>