<div class="container container_align_center container_flex-direction_column">
    <div class="paddings">
        <ng-container *ngIf="scannerHidden; else scannerNotHiddenTemplate">
            <button class="mx-4" mat-raised-button color="accent" [disabled]="videoDeviceNotFound" (click)="onScan()">Scan</button>
            <!-- <button class="mx-4" mat-raised-button aria-label="Open image" color="accent" (click)="onLoadImage()"><mat-icon>folder_open</mat-icon></button> -->
        </ng-container>
    
        <ng-template #scannerNotHiddenTemplate>
            <button class="mx-4" mat-raised-button color="primary" [disabled]="!selectedDevice" (click)="onScanReset()">Reset</button>
        </ng-template>
    </div>
    <div class="paddings qr-scanner__device-select_width_60">
        <mat-form-field *ngIf="availableDevices">
            <mat-label>Video devices</mat-label>
            <mat-select [(ngModel)]="selectedDevice">
                <mat-option *ngFor="let device of availableDevices" [value]="device">
                    {{ device.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <video
        [hidden]="scannerHidden"
        id="video"
        class="scanner-window"
    ></video>
</div>
