<mat-toolbar color="primary">
    <button mat-button class='paddings' [routerLink]="routes.home">Home</button>
    <div *ngIf="currentUser">
        <button mat-button class='paddings' [routerLink]="routes.assets">My assets</button>
        <button mat-button class='paddings' [routerLink]="routes.payments">Payments</button>
    </div>
    <span class="spacer"></span>
    <app-login-menu></app-login-menu>
    <!-- <div *ngIf="!currentUser">
        <button mat-button class='paddings' [routerLink]="routes.login">Login</button>
        <button mat-button class='paddings' [routerLink]="routes.register">Register</button>
    </div>
    <div *ngIf="currentUser">
        <button mat-button class='paddings' (click)="logout()">Logout</button>
    </div> -->
</mat-toolbar>