/* You can add global styles to this file, and also import other style files */
.paddings {
    padding: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding: 2vh 3vw;
}

.container_align_center {
    display: flex;
    align-items: center;
}

.container_flex-direction_column {
    display: flex;
    flex-direction: column;
}