<mat-toolbar color="primary">
    <button mat-button class='paddings' routerLink="/">Home</button>
    <!-- <button mat-button class='paddings' routerLink="/data">Data</button> -->
    <button mat-button class='paddings' routerLink="/scan" *ngIf="currentUser">Scan</button>
    <button mat-button class='paddings' routerLink="/myqrs" *ngIf="currentUser">My QRs</button>
    <span class="spacer"></span>
    <button mat-button class='paddings' routerLink="/login" *ngIf="!currentUser">Login</button>
    <button mat-button class='paddings' (click)="logout()" *ngIf="currentUser">Logout</button>
</mat-toolbar>